@import "../style.css";
@media screen and (max-width: 480px) {
    :root {
        --hav-height: 10vh;
    }
    html, body {
        font-size: 12px;
    }
    nav {
        display: none;
    }
    section {
        height: 3125px;
    }
    .nav-floor {
        width: 100%;
    }
    .logo {
        padding-top: 10px;
    }
    .logo .nav-fl-left {
        position: absolute;
        display: contents;
        left: 0;
    }
    .nav-fl-right { 
        display: contents;
    }
    .nav-menu-collapse {
        min-height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-bottom: 10px;
    }
    .nav-menu-collapse-item {
        height: 120px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .collapse-title {
        background: #E60000;
        color: white;
        font-size: 1.5rem;
    }
    .nav-menu-collapse-item ul > li {
        text-align: center;
        padding: 0px;
    }
    .nav-menu-collapse-item a {
        font-size: 1.2rem;
    }
    .menu-link {
        text-align: right;
        padding-top: 10px;
        padding-right: 20px;
        right: 0;
    }
    .search-input {
        width: 100px;
    }
    .vertical-ads {
        display: none;
    }
    .first-partition {
        display: none;
    }
    .second-partition {
        display: none;
    }
    .third-partition {
        width: 100%;
        margin: 0px 0px;
    }
    .fourth-partition {
        display: none;
    }
    .main-content-2 {
        height: 500px;
    }
    .content-main-top {
        grid-template-columns: 1fr 1fr;
    }
    .cm-cards-container {
        height: 120px;
    }
    .cm-cards-img {
        height: 50px;
    }
    .cm-cards-title {
        font-size: 17px;
    }
    .cm-cards-subtitle {
        font-size: 11px;
    }
    .ads-inner-wrapper {
        width: 100%;
        display: block;
    }
    .ads-inner-wrapper img {
        width: 100%;
    }
    .content-item-1 {
        height: 200px;
    }
    .ci1-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .ci1-card {
        height: 82px;
        width: 107px;
    }
    .content-item-2 {
        height: 410px;
        grid-template-columns: 1fr 1fr;
    }
    .cm-cards-container {
        border-radius: 10px;
        height: 120px;
    }
    .ci-card {
        height: 200px;
    }
    .cm-cards-img {
        margin-top: 20px;
    }
    .footer {
        height: 580px;
    }
    .footer-top{
        display: inline-block;
        height: 500px;
        width: 100%;
    }
    .footer-info{
        height: 150px;
    }
    .footer-bottom {
        font-size: 9.5px;
        height: 60px;
    }
    .footer-logo {
        width: 100%;
        padding: 0 25px;
        margin: 10px 0px;
    }
    .footer-contact {
        width: 100%;
        text-align: center;
        padding: 0 25px;
    }
    .mobile-content {
        display: contents;
    }
    .login-container {
        width: 100%;
        height: 140px;
    }
    .login-input-wrapper {
        justify-content: center;
    }
    .login-link {
        letter-spacing: 1.5px;
    }
    .login-option-wrapper {
        text-align: center;
        padding: 10px 0 0 0;
    }
    .horizontal-ads {
        padding-left: 50px;
    }
    
}